/* src/components/GetInTouchSection.css */
.get-in-touch {
  padding: 50px 200px;
  background-color: #0f172a;
  color: #fff;
  text-align: center;
}

.get-in-touch__title {
  font-size: 36px;
  background: -webkit-linear-gradient(left, #32a852, #7dd3fc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}

.get-in-touch__description {
  font-size: 18px;
  margin-bottom: 40px;
}

.get-in-touch__button {
  margin-top: 30px;
  padding: 10px 20px;
  background-color: transparent;
  color: #7dd3fc;
  border: 2px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(90deg, #32a852, #7dd3fc);
  border-radius: 5px;
  cursor: pointer;
  transition: color 0.3s ease, border-color 0.3s ease;
}

.get-in-touch__button:hover {
  color: #1e3a8a;
  border-image-source: linear-gradient(90deg,#7dd3fc, #32a852);
}

.get-in-touch__socials {
  margin-top: 40px;
}

.get-in-touch__socials a {
  margin: 0 10px;
  color: #fff;
  font-size: 24px;
  transition: color 0.3s ease;
}

.get-in-touch__socials a:hover {
  color: #7dd3fc;
}

.get-in-touch__footer {
  margin-top: 50px;
  font-size: 14px;
  color: #94a3b8;
}

.get-in-touch__footer a {
  color: #7dd3fc;
  text-decoration: none;
}

.get-in-touch__footer a:hover {
  text-decoration: underline;
}

/* Responsive styles */
@media (max-width: 768px) {
  .get-in-touch {
    padding: 50px 20px; /* Reduce padding for smaller screens */
  }

  .get-in-touch__title {
    font-size: 28px; /* Smaller font size for smaller screens */
  }

  .get-in-touch__description {
    font-size: 16px; /* Smaller font size for smaller screens */
  }

  .get-in-touch__button {
    padding: 8px 16px; /* Adjust padding for smaller screens */
    font-size: 16px; /* Adjust font size */
  }

  .get-in-touch__socials a {
    font-size: 20px; /* Adjust icon size for smaller screens */
  }
}

@media (max-width: 480px) {
  .get-in-touch {
    padding: 30px 15px; /* Further reduce padding for very small screens */
  }

  .get-in-touch__title {
    font-size: 24px; /* Smaller font size for very small screens */
  }

  .get-in-touch__description {
    font-size: 14px; /* Smaller font size for very small screens */
  }

  .get-in-touch__button {
    padding: 6px 12px; /* Adjust padding for very small screens */
    font-size: 14px; /* Adjust font size */
  }

  .get-in-touch__socials a {
    font-size: 18px; /* Adjust icon size for very small screens */
  }

  .get-in-touch__footer {
    font-size: 12px; /* Adjust font size for footer text */
  }
}
