body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
}

.hero {
  margin-top: 4rem; /* Add margin to avoid content being hidden under the navbar */
}
